<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Portfolio Suggestion Engine</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static",filename="styles.css") }}">
</head>
<body>
  <h1>
    Stock Portfolio Suggestion
  </h1>
  <form action="{{ url_for("process") }}" method="post">
    <table>
      <tr>
        <td>
          <p>
            <b>
              Dollar Amount to Invest:
            </b>
          </p>
        </td>
        <td>
          <p>
            <input type="number" name="invest_amt" step="0.01" min="5000" value="20000.00" autofocus required>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <b>
              Business Days to look back: 
            </b>
          </p>
        </td>
        <td>
          <p>
            <input type="number" name="days"> Days (Optional)
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <b>
              Please select 1 or 2 strategies:
            </b>
          </p>
        </td>
        <td>
          <label><p><input type="checkbox" name="e_invest">Ethical Investing <input type="number" name="e_invest_percent" step="0.01" value="100.00" required>%</p></label>
          <ul>
            <li><label><p>Apple Inc: <input type="number" name="apple" step="0.01" value="50.00" required>%</p></label></li>
            <li><label><p>Adobe Systems Incorporated: <input type="number" name="adobe" step="0.01" value="25.00" required>%</p></label></li>
            <li><label><p>Nestle SA (ADR): <input type="number" name="nestle" step="0.01" value="25.00" required>%</p></label></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><p><input type="checkbox" name="g_invest">Growth Investing <input type="number" name="g_invest_percent" step="0.01" value="100.00" required>%</p></label>
          <ul>
            <li><label><p>Amazon.com Inc: <input type="number" name="amazon" step="0.01" value="25.00" required>%</p></label></li>
            <li><label><p>Netflix Inc: <input type="number" name="netflix" step="0.01" value="25.00" required>%</p></label></li>
            <li><label><p>Tesla Inc: <input type="number" name="tesla" step="0.01" value="50.00" required>%</p></label></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><p><input type="checkbox" name="i_invest">Index Investing <input type="number" name="i_invest_percent" step="0.01" value="100.00" required>%</p></label>
          <ul>
            <li><label><p>Microsoft Corporation: <input type="number" name="microsoft" step="0.01" value="33.00" required>%</p></label></li>
            <li><label><p>Nvidia Corporation: <input type="number" name="nvidia" step="0.01" value="33.00" required>%</p></label></li>
            <li><label><p>Wal-Mart Stores Inc: <input type="number" name="walmart" step="0.01" value="34.00" required>%</p></label></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><p><input type="checkbox" name="q_invest">Quality Investing <input type="number" name="q_invest_percent" step="0.01" value="100.00" required>%</p></label>
          <ul>
            <li><label><p>General Electric Company: <input type="number" name="general_electric" step="0.01" value="40.00" required>%</p></label></li>
            <li><label><p>Home Depot Inc: <input type="number" name="home_depot" step="0.01" value="20.00" required>%</p></label></li>
            <li><label><p>Mcdonald's Corporation: <input type="number" name="mcdonalds" step="0.01" value="40.00" required>%</p></label></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><p><input type="checkbox" name="v_invest">Value Investing <input type="number" name="v_invest_percent" step="0.01" value="100.00" required>%</p></label>
          <ul>
            <li><label><p>Johnson &amp; Johnson: <input type="number" name="johnson" step="0.01" value="30.00" required>%</p></label></li>
            <li><label><p>Activision Blizzard Inc: <input type="number" name="blizzard" step="0.01" value="40.00" required>%</p></label></li>
            <li><label><p>Walt Disney Co: <input type="number" name="disney" step="0.01" value="30.00" required>%</p></label></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <br>
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
