<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Portfolio Suggestion Engine</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
  <h1>
    Stock Portfolio Suggestion
  </h1>
  <form action="{{ url_for('process') }}" method="post">
    <table>
      <tr>
        <td>
          Dollar Amound to Invest:
        </td>
        <td>
          <input type="number" name="invest_amt" step="0.01" min="5000" value='5000.00' autofocus required>
        </td>
      </tr>
      <tr>
        <td>
          Please select 1 or 2 strategies:
        </td>
        <td>
          <label><input type="checkbox" name="e_invest">Ethical Investing</label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><input type="checkbox" name="g_invest">Growth Investing</label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><input type="checkbox" name="i_invest">Index Investing</label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><input type="checkbox" name="q_invest">Quality Investing</label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <label><input type="checkbox" name="v_invest">Value Investing</label>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <br>
          <button type="submit">Submit</button>
          <button type="reset">Reset</button>
        </td>
      </tr>
    </table>
  </form>
</body>
</html>
